---
layout: handbook-page-toc
title: "非同期・ノンリニアワークな働き方の完全ガイド"
canonical_path: "/company/culture/all-remote/non-linear-workday/"
description: オールリモート環境で、どうルーティンを変えるか？ノンリニアワークでどう働くか？
twitter_image: "/images/opengraph/all-remote.jpg"
twitter_image_alt: "GitLabリモートチーム・グラフィックス"
twitter_site: "@gitlab"
twitter_creator: "@gitlab"
---

## 目次 {#目次}
{:.no_toc}

- TOC
{:toc}

## はじめに {#introduction}

![GitLab カスタマー・パス](/images/all-remote/gitlab-customer-path.jpg){: .medium.center}

このページでは、オフィスに集まる職場や同期して働く職場ではできない働き方ではできないノンリニアワークでしかできない可能性へのイマジネーションが広がるような提案をすることで、ノンリニアワークを導入することで可能になる生活をお伝えします。

## 質問: ノンリニアワークのルーティンとは？ {#q-what-is-a-non-linear-workday-routine}

ノンリニアワークとは、PTO（有給休暇）を考慮することなく、[非同期](/company/culture/all-remote/asynchronous/)に、業務時間と私用時間を切り替えられます。例えば、あるリモートワーカーは朝6時に出社し、朝9時まで仕事をします。午後3時までは家族と過ごすために仕事のメールをチェックしたりしません。午後3時に仕事を再開して午後8時まで仕事を続けます。次の日は、仕事と生活の状況に応じて、まったく別のスケジュールで働きます。

## ルーティンに対する先入観を壊す {#breaking-preconceived-notions-about-routine}

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/ZlUpDkoq_v0" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

*In the [GitLab Unfiltered](https://www.youtube.com/channel/UCMtZ0sc1HHNtGGWZFDRTh5A) video above, Darren M. (GitLab's Head of Remote) and Elisa R. (Founder of The Cowork Experience) discuss the impact and purpose of routines when looking at satisfaction and productivity.* 

A common recommendation for those new to remote work is to find a routine early on, and stick to it. While this may be sound advice for *some*, it ignores the reality that remote enables a complete deconstruction of the perceived need for routine. 

Routine is a common suggestion not necessarily because it is *good*, but because it is *tradition*. Routine is mandated in a colocated environment, where team members are required to commute and work between fixed hours. We have been conditioned to believe that routine keeps us disciplined, when in reality, routine simply makes it easier for colocated companies to keep workers in line. 

Many people adhere to routines simply because they know no other way. Remote allows another option, thanks to the tremendous benefits of [asynchronous workflows](/company/culture/all-remote/asynchronous/), [handbook-first documentation](/company/culture/all-remote/handbook-first-documentation/), and companywide [transparency](/handbook/values/#transparency). 

## ノンリニアワークとは何ですか？ {#what-is-a-non-linear-workday}

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/SeTTehyZsFc" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

*In the [video](https://youtu.be/SeTTehyZsFc) above, GitLab's Head of Remote talks with Megan Dilley (Director, Remote Work Association) about remote work's democritizating power, the importance of community, and projections for what life will look like after the great remote work migration of 2020. Discover more in GitLab's [Remote Work playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq7QUX-Ux5fOunQotqJbECc).*

ノンリニアワークとはどういうものなのかを理解してもらうためには実例をお伝えすることだと思います。GitLabのチームメンバーが実際に行った例をお伝えします。

* Darren wakes up at 6:00 AM on a Tuesday in Montana. After a shockingly brief 30 second commute from one room to another, he's ready to start his workday, coffee in hand.

* Darren begins work at 6:30 AM, and works until 8:30 AM. He changes his Slack status to a skiier emoji, noting to colleagues that he'll be out through 4:30 PM local time. (This distinction is important, as his company works asynchronously with colleagues across an ever-changing array of time zones. Said another way, time is relative.)

* He then cooks breakfast, eats with his family, and packs his ski gear into the car. By 10:00 AM, the family is skiing. There is almost no one on the mountain, as the vast majority of the world is following a typical routine that pulls them into a colocated office by 10:00 AM on any given Tuesday. Lift lines are nonexistant. Lift tickets were heavily discounted — it's Tuesday, after all — and there was no traffic to contend with. All of these are [spoils of an off-peak life](/company/culture/all-remote/people/#the-spoils-of-an-off-peak-life).

* By 3:00 PM, Darren and his family ski back to the car, refreshed after an exhilarating day. Given that they're departing the mountain before rush hour has any impact on traffic, they're back to their rental apartment by 3:30 PM. 

* After a shower and an early dinner, Darren logs back on to work at 4:30 PM, enthused to tackle ongoing projects and help move issues forward. But first, he shares a few photos he grabbed while skiing — something that is encouraged when you operate in a [non-judgemental culture](/company/culture/all-remote/mental-health/#create-a-non-judgemental-culture) and measure people on [results, not hours](/company/culture/all-remote/values/#results). Though working remotely with hundreds of colleagues across six continents, this deliberate approach to [informal communication](/company/culture/all-remote/informal-communication/) creates personal bonds that are, in many ways, deeper than those formed in-office. 

* Because it's winter in Montana, it's fairly dark outside by 5:00 PM. Darren has maximized his daylight hours, and has time-shifted his working day to primarily occur during darkness. Given that he would likely be indoors during this time anyway, it's more conducive to work. There is no pull to leave and explore the outdoors when it is dark. Instead, it is an ideal time to work, despite the fact that resuming your work day while most others are ending theirs is incongruent with the conventional definition of routine. 

![GitLab all-remote team](/images/all-remote/all-remote-skiing-montana.jpg){: .shadow.medium.center}

We should pause at this point and recognize that time is still relative. When Darren resumes his workday at 4:30 PM, he has six more hours to contribute if working a standard eight-hour day. It is important to not get caught up in local times. 4:30 PM may sound like an absurd time to resume working, but that's morning, afternoon, and night for various other members on his team. 

* Darren resumes his work from 4:30 PM to 10:30 PM, relying on [low-context documentation](/company/culture/all-remote/effective-communication/#understanding-low-context-communication) created by his colleagues while he was skiing to understand the current state of work that he is involved in. He contributes asynchronously, as to minimize required [meetings](/company/culture/all-remote/meetings/) and be considerate of colleagues who may also be working in non-linear fashion.

### ノンリニアワークの例 {#examples-of-a-non-linear-workday}

You can experience non-linear workdays on a spectrum. While the above example is purposefully extreme to articulate benefits, there are practical, everyday ways to break up your day. This enables you to refresh in a way that is uniquely beneficial to you, and can adapt based on the demands of your day. 

* Parents and caregivers may take time during their morning and afternoon to take children to school and spend time bonding during a commute that they'd be forced to outsource if working a more rigid schedule.
* A runner who schedules training sessions around meetings.
* Scheduling fitness as a midday break, which is ideal for those who are not keen on exercising first thing in the morning or after their workday.
* Scheduling meeting blocks based on the evolving nap schedule of a toddler.
* Segmenting your day to create availability to volunteer during certain daylight hours at a food bank, library, community center, etc. 
* Structuring your day to handle everyday tasks (e.g. an oil change for your vehicle, meeting with a contractor repairing your home, etc.). A bonus could be tending to these tasks during non-peak hours, which creates efficiency by avoiding transit during rush hours. 

## 質問: ノンリニアワークのルーティンの利点は何ですか？ {#q-what-are-the-benefits-of-a-non-linear-workday-routine}

### 柔軟性 {#flexibility}

A non-linear workday empowers team members to live and work both when and where they're most productive. 

### 自律性 {#autonomy}

Team members are given [agency](https://about.gitlab.com/handbook/values/#give-agency) to move projects forward on a schedule that suits them. Because GitLab [measures results, not hours](https://about.gitlab.com/handbook/values/#measure-results-not-hours), people are free to achieve results when it best suits them. 

### 効率性 {#efficiency}

Remote decouples routine from responsibility. Employees who enjoy being a [manager of one](/handbook/values/#managers-of-one) thrive in a remote setting, and often exhibit *more* discipline to work well when no one is looking. 

## 質問: ノンリニアワークの課題は？ {#q-what-are-the-challenges-of-a-non-linear-workday-routine}

### タイムゾーンの調整 {#juggling-time-zones}

Depending on where you and your teammates are primarily based, it may be a struggle to communicate well with others in a [different time zone](/company/culture/all-remote/asynchronous/#asynchronous-work-is-more-inclusive).

### 整理整頓 {#staying-organized}

One challenging aspect of remote work is delineating where one working session ends and another begins. There is often no reason or excuse to stop or shift tasks other than "the clock tells me it's time to stop."

### 注意力散漫 {#distractions}

For novice remote workers, it's important to think about [when and where you prefer to work on a daily basis](/blog/2019/09/12/not-everyone-has-a-home-office/). Optimize your physical and mental space for focus and design a space that prevents distractions [as a boon for your remote work](/blog/2018/05/17/eliminating-distractions-and-getting-things-done/). 

## 質問: リモートワークではどう気晴らしをしますか？ {#q-what-are-some-common-distractions-when-working-remotely}

The most common distractions to remote workers are ambient sounds, visual distractions, and working in areas with high traffic. Attempt to dedicate both physical and mental space where only work occurs. This enables you to focus specifically on work and be sure to [healthily disconnect](/blog/2019/07/09/tips-for-working-from-home-remote-work/) when you exit the space. 

## 質問: どうしたらリモートワークで生産性を維持できます？ {#q-what-are-the-best-ways-to-stay-productive-when-working-remotely}

しかし、みなが別々の場所でノンリニアワークで働くには、今までとは違うやり方で働く必要があります。[Basecampのハンドブック](https://basecamp.com/handbook)は、リモートワークで成功するためには、**学ぶことと同じくらいに、忘れる(アンラーン)べきことがたくさんある**と教えてくれています。

リモートワークは柔軟性、自由、自律性を提供する一方で、リモートでのコミュニケーションを学ぶためには、適応力と試してみる力が必要です。そのためのヒントがまとめました：

* [同僚のコミュニケーションの好み](/company/culture/all-remote/getting-started/#get-accustomed-to-the-communication-preferences-of-your-co-workers)を学び合わせる。
* [インターネット接続を強化する](/company/culture/all-remote/getting-started/#bolster-your-internet-connection-and-consider-redundancy)こと、別の手段も用意すること。
* [精神面の健康](/company/culture/all-remote/mental-health/) と [感情面の健康](/blog/2018/03/08/preventing-burnout/)を気にかける
* 同僚との人間関係を築くために、[インフォーマルなコミュニケーション](/company/culture/all-remote/informal-communication/) を意図的に実施する

リモートワークには、単に通勤がなくなるだけでありません。もっと多くのメリットがあります。メリットを伝えるために、[リモートプロフェッショナル、チームや組織に関する情報源まとめ](/company/culture/all-remote/resources/)をキュレーションしました。

[GitLabのリモートワークのためのガイドライブラリ](/company/culture/all-remote/guide/) も、参考になります。

## 質問: リモートワークで組織をまとめるコツは何ですか？ {#q-what-are-some-tips-for-staying-organized-when-working-remotely}

組織をまとめるヒントが書かれている [リモートワークのための完全ガイド](/company/culture/all-remote/getting-started/)を見てください。次のようなことが書かれています:

* [効率](/handbook/values/#efficiency)を最大化するために、[技術・ツールの習得](company/culture/all-remote/getting-started/#familiarize-yourself-with-the-companys-technology--tools)に時間を投資してください
* 試したり微調整が可能な[スケジュール](/company/culture/all-remote/getting-started/#develop-a-schedule-that-you-can-initially-follow)を立てる
* [同僚との人間関係を](/culture/all-remote/getting-started/#how-to-connect-with-people-when-starting-a-remote-job)戦略的に築く
* [ワークライフバランス](/company/culture/all-remote/getting-started/#set-up-work-life-boundaries)をとる

The non-linear workday decouples time from work and acts as a forcing function to embrace [asynchronous workflows](/company/culture/all-remote/asynchronous/). Local times are only as important as your company relies on synchronicity to get things done. 

The more this bothers you, the further you need to distance your organization from synchronous defaults. 

## 想像力を養うこと {#fostering-your-imagination}

![GitLab all-remote team](/images/all-remote/remote_work_02.jpg){: .shadow.medium.center}

* What could your life be if no two days were ever the same? 
* What do you long to do that you think a work routine is holding you back from? 
* How would you integrate work into your life if you were given permission to scrap everything you thought you knew about the importance of routines? 

Answering the above will allow you to truly evaluate what elements of routine are beneficial to you, and which are holding you back. 

The above skiing example is a maximally [efficient](/handbook/values/#efficiency) day. It was a full working day, and a full day of exploring and spending meaningful time with family. The above team member could've opted to take PTO ([paid time off](/handbook/paid-time-off/)), or opted for a shorter ski session. He could've taken a half-day, thereby extending the ski session or simply providing more buffer time between work and play. 

You could swap anything in for skiing and envision how it could apply to you. From participating in midday school activities with your children, to helping with a midday community service event, to being available to serve as support during an important medical appointment for a loved one — the examples are endless.

The point is, a non-linear mindset gives you options to [break free from routine](/company/culture/all-remote/people/) and structure each day differently. 

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/csS3iTjIHNo?start=1193" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

*In a [GitLab Unfiltered](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq7QUX-Ux5fOunQotqJbECc) conversation, Dani from Ceridian asked GitLab's Head of Remote the following question: "What’s a question that people don’t ask, but you feel they should, about remote work?"*

*His answer is verbalized in the video above, and partially transcribed below.*

> What could life look like if I never had to commute again? If I did not have to be in this particular city for work? 
>
> What you're seeing en masse (due to COVID-19) is people being thrust into remote, and they're trying to replicate virtually the in-office experience. 
>
> I want people to give themselves permission to realize that remote is an entirely new universe. You don't have the commute. You don't have the stigma and office expectations. You can potentially shift your day to work during your peak productivity hours, which opens up hours that have never been accessible to you before.  
>
> It's the ultimate blank slate, the ultimate life cheat code. There tends to be remoter's guilt, where you feel like you need to over-produce as a remote employee to compensate for the removal of a commute. The commute was never the employer's to begin with; that was always your time. 
>
> You can do something with that. You can be innovative with it. — *Darren M., Head of Remote, GitLab*

## ノンリニアワークを実現するには？ {#what-is-required-to-enable-non-linear-workdays}

![GitLab values illustration](/images/all-remote/gitlab-values-tanukis.jpg){: .medium.center}

The example detailed here would not have been possible without a few realities already in place.

* The company must work [handbook-first](/handbook/handbook-usage/#why-handbook-first), such that all meaningful takeaways from conversations are documented in their proper place, around the clock. 
* The company must embrace [asynchronous workflows](/company/culture/all-remote/asynchronous/) (including [tools like GitLab](/stages-devops-lifecycle/) as well as processes) in a deliberate, intentional, and thorough way. 
* The company must support a [non-judgemental culture](/company/culture/all-remote/mental-health/#create-a-non-judgemental-culture), which measures team members on [results rather than hours](/company/culture/all-remote/values/#results). This enables people to enter and exit work as they so choose, with no fear of retribution for doing something as unorthodox as skiing while everyone else works, and working while everyone else wishes they would've gone skiing. 
* A personal dedication to being a [manager of one](/handbook/values/#managers-of-one), able to focus on the right tasks while working from a foreign environment. 
* An understanding that not every single day will look like this. Even masters of non-linear workdays recognize that some days are less amenable to midday excursions than others. Rather than being sour about that, embrace the thrill of it being possible at all, and put effort into structuring your upcoming schedule in a way that allows for such days. As a manager of one, you have to take control over (and be accountable for) your schedule. Otherwise, other forces of the world and work will control it for you. 

In December of 2021, the Learning and Development team hosted [Dr. Krystal Wilkinson](https://www.mmu.ac.uk/business-school/about-us/our-staff/pp/profile/index.php?id=1039), senior lecturer at Manchester Metropolitain University, to speak about her research on the impact, challenges, and realities of working structures similar to the non-linear workday. Watch the recording on the [GitLab Unfiltered YouTube channel](https://www.youtube.com/watch?v=m-GBiLbfTVk).

### 会議はどうする？ {#what-about-meetings}

 The obvious question when discussing such examples is this: "How do you leave work during a time when [meetings](/company/culture/all-remote/meetings/) are most likely to be scheduled?"

The not-so-obvious answer is: Create a workplace culture where meetings are a last resort, and ensure that unavoidable meetings can be [contributed to asynchronously](/company/culture/all-remote/meetings/#have-an-agenda). 

It bears repeating that not every single day will present itself as a natural, meeting-free day. However, the more intentional your company is about ruthlessly minimizing meetings, [separating decision gathering from decision making](/company/culture/all-remote/management/#separating-decision-gathering-from-decision-making), and insisting that all work begin where it eventually needs to end up (e.g. in a [GitLab issue](https://docs.gitlab.com/ee/user/project/issues/) or [merge request](/blog/2019/12/19/future-merge-requests-realtime-collab/)), the more feasible it will be. You'll also realize benefits on the [mental health](/company/culture/all-remote/mental-health/) front.

GitLab's [approach to meetings](/company/culture/all-remote/meetings/), as with all of our processes, is public in our [handbook](/handbook/). We encourage leaders to study, implement, and make suggestions for improvement. 

### 自分に合うやり方を見つける {#find-what-works-for-you}

While embracing non-linear workdays can be incredibly freeing, it's also important to recognize that breaking daily routines might not be productive for everyone. In a conversation in GitLab's [#neurodiversity](/company/culture/inclusion/erg-gitlab-diversability/) Slack channel, team members shared a range of experiences with non-linear workdays. 

Ultimately, it's up to each person to experiment and determine their optimal work preferences and schedule (or lack thereof). Whether your schedule looks different each day, or you stick to a strict routine, or you incorporate elements of both, the key is knowing that you have the freedom and [autonomy](/handbook/values/#managers-of-one) to decide what's best for you.

### 優先順位を明確にする: ３つの作業 {#set-clear-priorities-3-tasks}

Non-linear workdays are focused on results. Building systems to focus on results helps avoid overwhelm and burnout. The video below reviews the **3 Tasks System** as a method for setting and achieving key priorities.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/H5Sg3Gw8E0Y" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

**3 Tasks System Summary**

- The goal is to achieve 3 meaningful outcomes every day, week, month, and year. Small outcomes add up to meaningful and long-term results
- Productivity is about doing the right things at the right time. Choosing 3 tasks forces prioritization and helps avoid context switching
- Key benefits of this system include:
     1. reduction in time spent on unimportant work
     1. improved personal efficiency and effectiveness
     1. increased sense of accomplishment
     1. increased results over time
- Choose a recording system that works for you: notepad, sticky notes, Mac reminders, GitLab issues, etc.
- Each day, choose what needs to get done today and decide what can be punted to future days/months
- Other things will come up outside of your 3 tasks. When they do, write them down on a `next` or `future` card. Write them down so you can take remove the pressure of having to remember these tasks.
- Adapt this system to meet your own needs

## GitLab ナレッジアセスメント: ノンリニアワーク {#gitlab-knowledge-assessment-non-linear-workday}

Complete all knowledge assessments in the [Remote Work Foundation certification](/company/culture/all-remote/remote-certification/) to receive the [Remote Foundations Badge in GitLab Learn](https://gitlab.edcast.com/pathways/copy-of-remote-foundations-badge). If you have questions, please reach out to our [Learning & Development team](/handbook/people-group/learning-and-development/) at `learning@gitlab.com`.


## <%= partial("company/culture/all-remote/is_this_advice_any_good_remote.erb") %>

## あなたの学びを共有する {#contribute-your-lessons}

GitLab believes that all-remote is the [future of work](/company/culture/all-remote/vision/), and remote companies have a shared responsibility to show the way for other organizations who are embracing it. If you or your company has an experience that would benefit the greater world, consider creating a [merge request](https://docs.gitlab.com/ee/user/project/merge_requests/) and adding a contribution to this page.

----

Return to the main [all-remote page](/company/culture/all-remote/).
